# Server
server/target/
server/Cargo.lock
server/wasm/target/
server/wasm/Cargo.lock

# Client
client/node_modules/
client/dist/
client/wasm/target/
client/wasm/Cargo.lock

# Logs
*.log

# PIDs
.server.pid
.client.pid
